.m-auto {
    margin: auto;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.mbr-auto {
    margin-bottom: auto;
    margin-right: auto;
}

.mlt-auto {
    margin-left: auto;
    margin-top: auto;
}