.login-view {
    padding: 30px;

    .login-form {
        width: 300px;
    }

    .login-footer {
        font-size: small;
        text-align: center;

        span {
            color: skyblue;
        }
    }
}